version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weeklyly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
